<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="\Magento\Customer\Controller\Account\LoginPost">
    <plugin name="Kensium_Testimonial_loginpostplugin" type="\Kensium\Testimonial\Plugin\LoginPostPlugin" sortOrder="1" />
  </type>
   <type name="\Magento\Customer\Controller\Account\CreatePost">
    <plugin name="Kensium_Testimonial_CreatePostPlugin" type="\Kensium\Testimonial\Plugin\CreatePostPlugin" sortOrder="1" />
  </type>
</config>